<table class="table-dark">
    <thead>
      <tr>
          <th> </th>
          <th>Scheduled by </th>
          <th>Client </th>
          <th>User </th>
          <th>Date </th>
          <th>Time </th>
      </tr>
    </thead>

<%# table body iterating through all the meetings %>
<%# might be nice to make each of these a link to the individual meeting %>


<tbody>
  <% @meetings.each.with_index(1) do |meeting, i| %>
    <tr>
      <td><%= i %>. </td>
      <!-- list user who created the meeting -->
      <td><%= User.find_by_id(meeting.user_id).first_name %> <%= User.find_by_id(meeting.user_id).last_name %> </td> 
      <td><%= meeting.client_name%></td>
      <td><%= meeting.user_name %></td>
      <td><%= meeting.meeting_date.strftime("%A, %B %d, %Y") %></td>
      <td><%= meeting.meeting_time.strftime("%I:%M%P") %></td> 
    <% end %>

<tbody>

<%# 
      <td><%= User.find_by_id(meeting.user_id).(:first_name, :last_name) %>  
