<%# /meetings/:id/edit %>

<h2>Let's update your meeting, <%= @user.first_name %>!</h2>

<form method="post" action="/meetings/<%=@meeting.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <ul>Meeting Id: <%= @meeting.id %></ul>
  <ul>User: <input type="text" name="meeting[user_name]" value="<%= @meeting.user_name %>"></ul>
  <ul>Client: <input type="text" name="meeting[client_name]" value="<%= @meeting.client_name %>"></ul>

  <ul><button type="submit" value="Update Meeting" class="btn btn-dark btn-sm">Update Meeting</button>

</form>