<%# /meetings %>

<label><h2>List all meetings</h2></label>
<br> 

<%# A table listing all the meetings %>
<%# table head %>
<table>
    <thead>
      <tr>
          <th> </th>
          <th>Client Name</th>
          <th>User Name</th>
<!--      FOR FUTURE DEV
          <th>Event Date ID</th> 
-->
          <th> </th>
          <th> </th>
      </tr>
    </thead>

<%# table body iterating through all the meetings %>
<%# might be nice to make each of these a link to the individual meeting %>

<tbody>
  <% @meetings.each.with_index(1) do |meeting, i| %>
    <tr>    
      <td><%= i %>. </td>
      <td><%= meeting.client_name%></td>
      <td><%= meeting.user_name %></td>
<!--      FOR FUTURE DEV
      <td><%= meeting.event_date_id %></td>
-->
    
      <%# UPDATE button %>
      <form method="get" action="/meetings/<%= meeting.id %>/edit">
        <td><button type="submit" value="Update Meeting" class="btn btn-dark btn-sm" role="button" data-bs-toggle="button">Update Meeting</button></td>
      </form>

      <%# DELETE button %>
      <form method="post" action="/meetings/<%= meeting.id %>/delete">
        <td><button id="hidden" name="_method" value="DELETE" type="submit" class="btn btn-dark btn-sm">Delete Meeting</button></td>
      </form>

    <% end %>

    </tr>

  </tbody>
</table>

