<p>Meeting Id: <%= @meeting.id %></p>
<p>User: <%= @meeting.user_name %></p>
<p>Client: <%= @meeting.client_name %></p>

<form method="post" action="/meetings/<%=@meeting.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <%# <input type="submit" value="Delete Meeting"> %>
<ul><button type="submit" value="Delete Meeting" class="btn btn-dark btn-sm">Delete Meeting</button>
</form>

<form method="get" action="/meetings/<%=@meeting.id%>/edit">
  <%# <ul><input type="submit" value="Update Meeting"></> %>
<button type="submit" value="Update Meeting" class="btn btn-dark btn-sm">Update Meeting</button>
</form>




<!--
<a href="/meetings/<%=@meeting.id%>/edit">Edit Meeting</a>
-->
