<h2>This is the meeting you just created.</h2>
<br>
<p>Meeting Id: <%= @meeting.id %></p>
<p>User: <%= @meeting.user_name %></p>
<p>Client: <%= @meeting.client_name %></p>

<form method="post" action="/meetings/<%=@meeting.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Meeting">
</form>

<form method="get" action="/meetings/<%=@meeting.id%>/edit">
<td><input type="submit" value="Update Meeting"></td>
</form>

<!--
<a href="/meetings/<%=@meeting.id%>/edit">Edit Meeting</a>
-->
