<h2></h2>
<h3>Hello, <%= @user.first_name %>!</h3>

<ul>First Name: <%= @user.first_name %></ul>
<ul>Last Name: <%= @user.last_name %></ul>
<ul>Email: <%= @user.email %></ul>
<ul>Phone: <%= @user.phone %></ul>

<ul><form method="get" action="/users/<%= @user.id %>/edit">
    <button type="submit" value="Update User Info" class="btn btn-dark btn-sm">Update User Info</button>
</form>
